{% extends 'layout.html' %}
{% block content %}

<h1>Hello World Nya xD</h1>

<h1>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ex officia
  ullam iure aspernatur vel quis! Cum aspernatur nemo eum culpa rerum? Delectus,
  ducimus omnis! Assumenda voluptatum soluta sunt consequatur qui ipsum,
  provident aliquid nam eveniet. Quo numquam id officia dicta ullam ad,
  voluptatem cupiditate reiciendis deserunt dolorum excepturi ratione hic
  placeat ipsum. In perspiciatis nulla asperiores harum sunt quibusdam cum ullam
  totam esse, odit nobis doloribus eum molestias quaerat perferendis,
  repudiandae magnam corporisat laborum sed molestiae sequi! Magni eum, hic
  eligendi eos doloribus praesentium assumenda quibusdam dolores dignissimos
  recusandae, ipsa labore repudiandae in quis odio aut iste ipsum.
</h1>
<h1>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium obcaecati
  optio officiis ex architecto natus fuga commodi tempora iure. Quis quaerat
  magnam magni modi expedita, eligendi eveniet ipsam sint inventore provident!
  Iure, fugiat quo? Officia ducimus, aliquid numquam quasi dolorum et autem
  magnam laudantium sequi, saepe nam quo veniam suscipit.
</h1>
{% endblock %}